login: &login
  adapter: mysql
  host: localhost
  username: root
  password: 
  

development:
  database: booking_dev
  <<: *login

test:
  database: booking_tests
  <<: *login

production:
  database: booking
  <<: *login
